// Responsive

@mixin mobile-only {
    @media screen and  (max-width : map-get($breakpoints, mobile)){
      @content
    }
  };

@mixin tablettes-only {
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width : map-get($breakpoints, tablettes)) {
      @content
    }
  };
  
@mixin largeScreen-only {
  @media screen and (min-width : map-get($breakpoints, largeScreen)) {
    @content
  }
};

@mixin btn {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 50px;
  background-color: $color-1;
  color : $color-5;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all .3s ease;
  &:hover{
     transform: translateY(-1px); 
     box-shadow: rgba(0, 0, 0, 0.6) 0px 19px 38px, rgba(0, 0, 0, 0.44) 0px 15px 12px;
  }
  &:disabled{
      background-color: #0511f28a;
      &:hover{
          transform: none;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
      }
  }
}
  
@mixin mobile-btn {
  width: 150px;
  height: 50px;
  font-size: 16px;
}

@mixin largeScreen-btn {
  width: 240px;
  height: 70px;
  font-size: 22px;
}

@mixin sideElement{
  background-color: $color-5;
  height: 400px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  h2{
    font-size: 20px;
  }
}