$color-1 : #222F40;
$color-2 : #A69898;
$color-3 : #4951F2;
$color-4 : #3A3B3C;
$color-5 : #F9FAFB;
$color-6 : #D9D9D9;
$color-7 : #734230;
$color-8 : #b51010;
$color-9 : #1aae07;
$color-10 : #894e3b;

$font-1 : 'Lato', sans-serif;

$breakpoints: (
    mobile: 600px,
    tablettes : 1200px,
    largeScreen : 1800px,
);

$title-mobile-size : 20px;
$label-mobile-size: 18px;
$input-mobile-size: 18px;

$title-largescreen-size : 30px;
$label-largescreen-size: 24px;
$input-largescreen-size: 20px;
$text-largescreen-size: 20px;