
// main
.home{
    width: 100%;
    height: 100%;
    padding: 2% 10%;
    display: flex;
    flex-direction: row;
    @include mobile-only{
        flex-direction: column-reverse;
        padding: 2% 5%;
    }
    .home-left{
        width: 20%;
        @include mobile-only{
            width: 100%;
        }
    }
    .home-center{
        width: 60%;
        padding: 0 10px;
        @include mobile-only{
            width: 100%;
            padding: 0;
        }
    }
    .home-right{
        width: 20%;
        @include mobile-only{
            width: 100%;
        }
    }
}

.newPost{
    width: 100%;
    min-height: 430px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: $color-5;
    padding: 5% 10%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    @include mobile-only{
        margin: 10px 0;
        padding: 10%;
    }
    form{
        margin: 10px 0;
    }
    #newPost-text{
        background-color: #b9bdfd4d;
        border-radius: 5px;
        width: 100%;
        height: 180px;
        font-family: $font-1;
        padding: 10px;
        font-size: 20px;
    }
    .newPost-btns{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        @include mobile-only{
            flex-direction: column;
            padding-top: 10px;
            justify-content: center;
            align-items: center;
        }
        button{
            width: 180px;
            height: 40px;
            border-radius: 5px;
            cursor: pointer;
            @include mobile-only{
                margin-bottom: 15px
            }
        }
        .newPost-cancel{
            background-color: $color-8!important;
        }
        label{
            @include btn;
            width: 180px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
            font-size: 20px;
            @include mobile-only{
                margin-bottom: 15px;
                font-size: 16px;
            }
        }
        input{
            display: none;
        }
    }
    .newPost-imgPreview{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        img {
            max-width: 300px;
        }
        @include mobile-only{
            padding: 0;
        }
    }
    .newPost-errorContainer{
        height: 30px;
        padding-top: 30px;
        @include mobile-only{
            padding-top: 0;
        }
        .newPost-error{
            color: $color-8;
            text-align: center;
        }
    }
}
// All Posts
.feed{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

// Trending
.trending{
    @include sideElement
}
// Last Comments
.lastComments{
    @include sideElement;
    margin-top: 20px
}
// Last SignUp
.LastSignUp{
    @include sideElement;

    .LastSignUp-user{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 0;
        .LastSignUp-Name{
            font-size: 18px;
            margin: 0;
            color: $color-1;
            &:hover{
                text-decoration: underline;
            }
        }
        .LastSignUp-img{
            width: 60px;
            height: 60px;
            border-radius: 14px;
            margin: 0 20px 0 0;
        }
    }

}

