///SIGNUP

.signUp-right{
    width: 50%;
    position: relative;
    @include mobile-only{
        width: 100%;
    }
    h2{
        text-align: center;
        padding-top: 10%;
        @include mobile-only{
            font-size: $title-mobile-size;
        }
        @include largeScreen-only{
            font-size: $title-largescreen-size;
        }
    }
}
.signUp-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mobile-only{
        width: 90%;
    }
    @include largeScreen-only{
        width: 70%;
    }
    label{
        display: block;
        font-size: 20px;
        font-weight: 700;
        @include mobile-only{
            font-size: $label-mobile-size;
        }
        @include largeScreen-only{
            font-size: $label-largescreen-size;
        }
    }
    input{
        border: none;
        background: transparent;
        border-bottom: 1px solid $color-4;
        width: 100%;
        padding: 18px 0 0 0;
        font-size: 16px;
        outline: none;
        &::placeholder{
            font-style: italic;
        }
        @include mobile-only{
            font-size: $input-mobile-size;
        }
        @include largeScreen-only{
            font-size: $input-largescreen-size;
        }
    }

    .btn-signup{
        width: 200px;
        height: 60px;
        display: inline-block;
        border: none;
        border-radius: 5px;
        background-color: $color-1;
        color : $color-5 ;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        transition: all .3s ease;
        text-align: center;
        margin-top: 20px;
        align-self: center;
        padding: 0;
        cursor: pointer;
        &:disabled{
            background-color: #0511f28a;
        }
        @include mobile-only{
            @include mobile-btn
        }
        @include tablettes-only{
            @include tablettes-btn;
            margin-top: 32px;
        }
        @include largeScreen-only{
            @include largeScreen-btn
        }
    }

    .invalidEmail{
        color: $color-8;
        font-size: .9rem;
    }
    .form-div{
        height: 80px;
        width: 100%;
    }
}    

