.findUser{
    @include sideElement;
    margin-top: 20px;
    padding-bottom: 20px;
    height: 130px;
    min-height: fit-content;
    transition: all .3s ease-in-out;

    .findUser-title{
        display: inline;
        margin-bottom: 20px;
    }

    form {
        position: relative;
        margin-top: 15px;
    }
    label{
        position: absolute;
        top: 50%;
        transform : translateY(-50%);
        padding-left: 10px;
        transition : all 0.3s ease-in;
        font-size: 18px;
    }

    input{
        height : 40px;
        border-radius: 5px;
        border: 1px solid $color-1;
        font-size: 18px;
        padding: 10px;
    }

    .findUser-form:focus-within label,
    .findUser-form.active-input label{
        top: -15px;
        padding-left: 5px;
    }
}

.findUser-active{
    height: auto;
    animation: growDiv .5s ease-out 1 forwards;
}

@keyframes growDiv {
    0%{
        height: 130px;
    }
    100%{
        height: 300px;
    }
}