.postContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    background-color: $color-5;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    @include mobile-only{
        padding: 16px;
    }


    .postContainer-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        @include mobile-only{
            flex-direction: column;
        }

        .post-author_photo{
            width: 70px;
            border-radius: 15px;
            margin-right: 5px;
        }
        .post-author{
            font-size: 20px;
            font-weight: bold;
            color : $color-1;
            &:hover{
                text-decoration: underline;
            }
        }
        .post-date{
            margin-left: auto;
            font-size: 14px;
            font-style: italic;
            @include mobile-only{
                margin-left: 0;
            }
        }
    }

    .postContainer-content{
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        .post-content{
            font-size: 20px;
            padding-bottom: 10px;
        }
    }
    .postContainer-footer{
        padding-top: 16px;
        display: flex;
        flex-direction: column;

        .post-counts{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            font-size: 18px;
            margin-bottom: 15px;
            @include mobile-only{
                font-size: 16px;
            }
            .likes_count{
                margin-right: 10px;
            }
            // MINI PHOTOS
            .post-counts_photos{
                display: flex;
                position: relative;
                margin-right: 5px;
                img:nth-of-type(1){
                    bottom: -8px;
                    right: 0
                }
                img:nth-of-type(2){
                    bottom: -8px;
                    right: 15px
                }
                img:nth-of-type(3){
                    bottom: -8px;
                    right: 30px
                }
                img {
                    width: 35px;
                    border-radius: 50%;
                    position: absolute;
                }
                .post-counts_miniNumber{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    position: absolute;
                    color : $color-5;
                    background-color: $color-1;
                    border-radius: 50%;
                    bottom: -8px;
                    right: 42px;
                    z-index: 1000;
                    filter: brightness(75%);
                    font-size: 16px;
                }
                // LIKERS LIST
                .post-counts_likersNames{
                    position: absolute;
                    display: flex;
                    flex-direction: column-reverse;
                    bottom: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    min-width: 150px;
                    padding: 10px;
                    background-color: rgba(0, 0, 0, 0.478);
                    color : $color-5;
                    font-size: 14px;
                    border: 1px dotted $color-5;
                    border-radius: 5px;
                    transform-origin: top;
                }
                .fa-plus{
                    font-size: 14px;
                }
            }
        }
        .post-actions{
            display: flex;
            justify-content: space-evenly;
            font-size: 18px;
            padding-top: 10px;
            position: relative;
            @include mobile-only{
                font-size: 16px;
            }
            &::before{
                content: '';
                height: 1px;
                background-color: $color-4;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .post-showComments{
            transition: .2s all;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        button{
            background-color: transparent;
            font-family: $font-1;
            font-size: 18px;
            color: $color-4;
            transition: .2s all;
            @include mobile-only{
                font-size: 16px;
            }
            &:hover{
                text-decoration: underline;
            }
            i{
                margin-right: 5px;
            }
        }
    }
    .post-newComment{
        margin-top: 10px;
        form{
            display: flex;
            align-items: center;
            position: relative;
        }
        #newComment{
            width: 100%;
            min-height: 30px;
            overflow: hidden;
            outline: none;
            background-color: $color-6;
            font-size: 18px;
            display: flex;
            border-radius: 10px;
            padding: 15px 30px 15px 15px;
            font-family: $font-1;
            &::placeholder{
                font-family: $font-1;
                color: $color-4;
            }
        }
        .sendComment{
            font-size: 18px;
            background-color: transparent;
            text-align: center;
            color: $color-1;
            transition: all .1s ease-out;
            position: absolute;
            right: 10px;
            cursor: pointer;
            &:hover{
                font-size: 20px;
            }
            &:disabled{
                color: $color-2;
            }
        }
        .post-comment_error{
            color : $color-8;
            padding-left: 20px;
        }
    }
   
}

// COMMENTS LIST
.post-commentsList{
    padding-top: 10px;
    h4{
        font-size: 18px;
        @include mobile-only{
            font-size: 16px;
        }
    }

    .post-comment_container{
        margin: 10px;
        padding: 10px;
        position: relative;
        width: 95%;
        background-color: $color-6;
        border-radius: 5px;
        @include mobile-only{
            display: flex;
            flex-direction: column;
        }
        // COMMENTER NAME
        h5{
            font-size: 18px;
            @include mobile-only{
                font-size: 16px;
            }
        }
        // COMMENT DATE
        span {
            position: absolute;
            top: 10px;
            right: 10px;
            font-style: italic;
            font-size: 14px;
            @include mobile-only{
                position: relative;
                top: 0;
                left: 0;
                padding-bottom: 5px;
            }
        }
    }
}

// BTN EDIT POST 
.post-editBtn {
    font-size: 14px;
    background-color: $color-3;
    color: $color-5;
    padding: 5px;
    border-radius: 30px;
    margin : 0 5px 5px 5px ;
    cursor: pointer;
    transition: all .2s ease-out;
    &:hover{
        filter: brightness(130%);
    }
}

// BTN DELETE POST
.post-deleteBtn {
    font-size: 14px;
    background-color: $color-8;
    color: $color-5;
    padding: 5px;
    border-radius: 30px;
    margin :  0 5px 5px 5px ;
    cursor: pointer;
    transition: all .2s ease-out;
    &:hover{
        filter: brightness(130%);
    }
}


// POST EDITION 

.postContainer-content form{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    label{
        font-size: 20px;
        font-weight: bold;
    }
    #post-content_textArea{
        width: 100%;
        background-color: $color-6;
        min-height: 150px;
        font-family: $font-1;
        padding: 10px;
        font-size: 16px;
    }
    button{
        width: 20%;
    }
    .post-content-imgContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgContainer-btns{
            width: 50%;
            display: flex;
            justify-content: space-between;
            button{
                width: 40%;
            }

        }
    }
    .post-content_editBtnContainer{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .post-content_confirmBtn{
            background-color: $color-9;
        }
        .post-content_editBtn{
            background-color: $color-8;
        }
    }
}